header
    div.brand
        a.brand-link(href="/")
            img.brand-icon(src="/assets/img/icon.png" alt="EC icon")
            span.brand-name
                strong English Crawler
    nav
        button.menu-btn(type="button")
            i.fa.fa-bars
        .nav-overlay
        ul.nav-list
            li.nav-item
                a.nav-link.active(href="/")
                    strong Home
