extends layout

block content
    main
        section#search
            .section-panel
                .section-head
                    h1 How to search for word 
                .section-content
                    
        section#upload
            .section-panel
                .section-head
                    h1 How to upload an image
                .section-content

block scripts
        
