extends layout

block content
    main
        .hero-image-wrapper
            .hero-image-container
            .hero-image-content
                .tag-line
                    h1 Find How to Express Yourself
                .intro-text
                    h4 Using this application, you can learn english fun with music and picture. What are you waiting for?
                .text-center
                    button.ec-button.ec-green.link-btn(data-page="word")
                        strong Let's Go!
        section#words
            .section-panel
        section#help
            .section-panel
                div test
        section#about
            .section-panel
                .section-head
                    h1 Who are we?
                .section-content
                    .text-center
                        span You must be curious who build this website, don't you?
                    .text-center
                        button.ec-button.ec-dark-blue.link-btn(data-page="about")
                            strong Find out!

block scripts
    script(src="assets/js/views/home.js")
    script(src="assets/js/controllers/homeController.js")
        
