extends layout

block content
    main
        section
            .section-panel.search-panel
                .section-head
                    h1 Search for word(s)
                .section-content
                    p.intro-text Type English word(s) that you want to learn
                    form#word_search_form
                        .input-wrapper.searchbar-wrapper
                            label.search-icon-container(for="search_text") 
                                i.fa.fa-search
                            input.searchbar(id="search_text" name="q" type="search" align="bottom" placeholder="type here...")
                            button.search-btn(title="Search" type="submit")
                                span Search
                                i.search-icon.fa.fa-search
                    .text-center.separator
                        span - or -
                    p.intro-text upload an Image to see what is it called in english
                    form#img_upload_form
                        .input-wrapper.img-uploader-wrapper
                            input.img-uploader(id="img_upload" type="file")
                            label.image-uploader-label.text-center(for="img_upload")
                                i.upload-icon.fa.fa-upload.v-align-middle
                                span.v-align-middle Choose an Image
                                    span.drop-img-text &nbsp;or Drop your Image Here
        section
            .section-panel
                .section-head
                    h1 Word of the Day
                .section-content
        section
            .section-panel
                .section-head
                    h1 Random Word
                .section-content
block scripts
    script(src="assets/js/APIs/wordnik.js")
    script(src="assets/js/views/word.js")
    script(src="assets/js/controllers/wordController.js")
        
