extends layout

block content
    main
        section#controls
            .section-panel.search-panel
                .section-head
                    h1 Search for word(s)
                .section-content
                    p.intro-text Type English word(s) that you want to learn
                    form#word_search_form
                        .input-wrapper.searchbar-wrapper
                            label.search-icon-container(for="search_text") 
                                i.fa.fa-search
                            input.searchbar(id="search_text" name="q" type="search" align="bottom" placeholder="type here...")
                            button.search-btn(title="Search" type="submit")
                                span Search
                                i.search-icon.fa.fa-search
                    .text-center.separator
                        span - or -
                    p.intro-text Upload an Image and to get related words
                    form#img_upload_form
                        .input-wrapper.img-uploader-wrapper
                            input.img-uploader(id="img_upload" type="file" accept="image/*")
                            label.image-uploader-label.text-center(for="img_upload")
                                i.upload-icon.fa.fa-upload.v-align-middle
                                span.v-align-middle Choose an Image
                                span.drop-img-text &nbsp;or Drop your Image Here
                    .extra-link-wrapper
                        p.intro-text You can also see or try:
                        ul.extra-link-list
                            li.extra-link-item
                                a.extra-link.WOTD-link(href="/word#OTD")
                                    strong Word of the Day
                            li.extra-link-item
                                a.extra-link.random-word-link(href="/word#random")
                                    strong Random Word
                    
        section#results
            .section-panel.result-panel
                .control-wrapper
                    .prediction-panel
                        .image-wrapper
                            .image-container
                                img.thumbnail
                                .preloader-overlay(data-text="Loading")
                        .predicted-word-wrapper
                            .list-header
                                h3 Words
                            .predicted-word-list-wrapper
                                ul.predicted-word-list
                .result-wrapper
                    ul.word-list
                
block scripts
    include ../templates/wordTemplate
    script(src="https://sdk.clarifai.com/js/clarifai-latest.js")
    script(src="assets/js/APIs/clarifai.js")
    script(src="assets/js/APIs/wordnik.js")
    script(src="assets/js/models/word.js")
    script(src="assets/js/views/word.js")
    script(src="assets/js/controllers/wordController.js")
        
