$color-yellow     : #F7CA18;
$color-soft-violet: #AEA8D3;

// font-color
$font-color-1: #AAD7FF; // bright cyan
$font-color-2: #292929; // dark grey
$font-color-3: #D68802; // orange
$font-color-4: #6BB9F0; // dark cyan
$font-color-5: #00008B; // blue

// background-color
$bg-color-1: #00396C; // dark blue
$bg-color-2: #89D0FF; // cyan
$bg-color-3: #353537; // dark grey
$bg-color-4: #F7F7F7; // white
$bg-color-5: #FFD9A4; // pale orange
$bg-color-6: #FFC470; // dark orange
