$color-yellow     : #F7CA18;
$color-soft-violet: #AEA8D3;

// font-color
$font-color-1: #AAD7FF; // bright cyan
$font-color-2: #292929; // dark grey
$font-color-3: #D68802; // orange
$font-color-4: #6BB9F0; // dark cyan

// background-color
$bg-color-1: #00396C; // dark blue
$bg-color-2: #89D0FF; // cyan
