* { // apply to all elements
    box-sizing: border-box; // change sizing so the sizes measured by the border box
}

body {
    margin: 0;
    min-width: 18em; // set minimum width to body to prevent content being squeezed in smaller screen.
    font-family: sans-serif;
}

main {
    margin-top: $header-height;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    font-size: 1.75em;
}

button {
    cursor: pointer;
}
