.hero-image-wrapper {
    background-color: #3B598C;
    padding-bottom: 3em;
    min-height: 100vh;
    margin: 0;
    @include body-side-gutter();
    color: white;

    .hero-image-content {
        max-width: 47.5em;
        margin: auto;

        .tag-line {
            padding: 3em 0 2em 0;
            > h1 {
                margin: 0;
            }
        }

        .intro-text {
            padding-bottom: 3em;
        }
    }
}

@mixin home--md() {
}

@mixin home--lg() {
}
