.search-panel { // search panel
    min-height: calc(100vh - #{$header-height});

    &.hidden {
        display: none;
    }

    .section-head {
        padding-top: 2em;
        padding-bottom: 1em;
    }

    .intro-text, .separator {
        padding-top: 0.8em;
    }

    .intro-text {
        padding-bottom: 0.8em;
        margin: 0;
    }

    .input-wrapper {
        display: flex;
        align-items: center;
        border-radius: $btn-border-radius;
        padding: 0.3em;

        &.searchbar-wrapper, &.img-uploader-wrapper {
            background-color: #F4F4F4;
            transition: background-color 0.1s;
        }

        &.searchbar-wrapper {

            &.active {
                background-color: white;
            }

            label {
                color: #777;
                flex: 0;
            }

            .searchbar {
                flex: 1;
                align-self: flex-end;
            }

            .search-btn {
                flex: 0;
            }
        }

        &.img-uploader-wrapper {

            label {
                border: 0.15em dashed #555;
                border-radius: $btn-border-radius;
                color: #555;
                opacity: 0.6;
                transition: opacity 0.1s;
            }

            &:hover {
                background-color: white;

                label {
                    opacity: 1;
                }
            }
        }
    }

    label {

        &.search-icon-container {
            display: none;
        }

        &.image-uploader-label {
            width: 100%;
            height: 3em;
            line-height: 3em;

            i {
                padding-left: 0;
            }

            > span {
                padding-left: 0.5em;
                font-size: 1.25em;
            }

            .drop-img-text {
                display: none;
            }
        }

        i {
            padding-left: 0.7em;
            font-size: 1.75em;
        }
    }

    .searchbar {
        font-size: 1.25em;
        border: none;
        background-color: transparent;
        padding-left: 0.5em;
        padding-right: 0.7em;
        padding-bottom: 0.3em;
        min-width: 9em;

        &:focus {
            outline: none;
        }
    }

    .search-btn {
        height: 3em;
        background-color: white;
        border-radius: $btn-border-radius;
        border: 0.1em solid #555;
        color: #303030;
        padding: 0 1.25em;
        opacity: 0.6;
        cursor: pointer;
        transition: opacity 0.2s;
        font-weight: bold;

        &:hover {
            opacity: 1;
        }

        span {
            font-size: 1.5em;
            display: none;
        }

        i.search-icon {
            font-size: 1.35em;
        }
    }

    .img-uploader {
        display: none;
    }

    .extra-link-wrapper {
        margin-top: 1em;
        font-size: 0.9em;
        .extra-link-item {
            position: relative;

            .extra-link {
                padding-left: 2em;
                color: $font-color-4;
                text-decoration: underline;

                &:hover {
                    color: $font-color-3;
                }

                &:before {
                    position: absolute;
                    left: 0;
                    top: 0.2em;
                }

                &.WOTD-link:before {
                    @include fa-star();
                    color: $color-yellow;
                }

                &.random-word-link:before {
                    @include fa-random();
                    color: $color-soft-violet;
                }
            }
        }
    }
}

.result-panel {
    display: none;

    &.show {
        display: block;
    }

    .control-wrapper {
        padding: 1em;
    }

    .prediction-panel {
        background-color: white;
        border-radius: $panel-border-radius;
        overflow: hidden;

        .image-wrapper {
            background-color: black;
            position: relative;
            width: 100%;

            &:before { // pseudo element to retain the aspect ratio
                display: block;
                content: "";
                width: 100%;
                padding-top: 100%;
            }

            > .image-container { // image container to control the size of the image
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 1em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .thumbnail {
                    display: block;

                    &.fit-height {
                        height: 100%;
                    }

                    &.fit-width {
                        width: 100%;
                    }
                }
            }

            .preloader-overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(#000, 0.5);
                display: none;
                justify-content: center;
                align-items: center;
                font-size: 1.5em;
                color: $font-color-1;

                &.show {
                    display: flex;

                    &:before {
                        content: attr(data-text);
                    }

                    &:after { // add dot animation behind the word predicting
                        content: "";
                        animation-name: dot-dot;
                        animation-duration: 1.5s;
                        animation-timing-function: ease-in-out;
                        animation-iteration-count: infinite;
                    }
                }
            }
        }

        .predicted-word-wrapper {

            .list-header {
                border-bottom: 0.1em solid rgba(black, 0.2);
                padding: 0 1em;
                text-align: center;
            }

            .predicted-word-list {
                padding: 1em;
                overflow-y: auto;
                max-height: 12em;

                .predicted-word {
                    display: block;
                    width: 100%;
                    background-color: transparent;
                    border-style: none;
                    border-bottom: 0.1em solid rgba(black, 0.2);
                    height:3em;
                    text-align: left;
                    font-weight: bold;
                }
            }
        }
    }
}

@mixin word--md() {
    .search-panel {

        label {

            &.search-icon-container {
                display: inline-block;
            }
        }

        .search-btn {

            span {
                display: inline;
            }

            i.search-icon {
                display: none;
            }
        }
    }
}

@mixin word--lg() {
}
