.search-panel { // search panel
    min-height: calc(100vh - #{$header-height});

    &.shifted {
        margin-top: 4em
    }

    .section-head {
        padding-top: 2em;
        padding-bottom: 1em;
    }

    .intro-text, .separator {
        padding-top: 0.8em;
    }

    .intro-text {
        padding-bottom: 0.8em;
        margin: 0;
    }

    .input-wrapper {
        display: flex;
        align-items: center;
        border-radius: $btn-border-radius;
        padding: 0.3em;

        &.searchbar-wrapper, &.img-uploader-wrapper {
            background-color: #F4F4F4;
            transition: background-color 0.1s;
        }

        &.searchbar-wrapper {

            &.active {
                background-color: white;
            }

            label {
                color: #777;
                flex: 0;
            }

            .searchbar {
                flex: 1;
                align-self: flex-end;
            }

            .search-btn {
                flex: 0;
            }
        }

        &.img-uploader-wrapper {

            label {
                border: 0.15em dashed #555;
                border-radius: $btn-border-radius;
                color: #555;
                opacity: 0.6;
                transition: opacity 0.1s;
            }

            &:hover {
                background-color: white;

                label {
                    opacity: 1;
                }
            }
        }
    }

    label {

        &.search-icon-container {
            display: none;
        }

        &.image-uploader-label {
            width: 100%;
            height: 3em;
            line-height: 3em;

            i {
                padding-left: 0;
            }

            > span {
                padding-left: 0.5em;
                font-size: 1.25em;
            }

            .drop-img-text {
                display: none;
            }
        }

        i {
            padding-left: 0.7em;
            font-size: 1.75em;
        }
    }

    .searchbar {
        font-size: 1.25em;
        border: none;
        background-color: transparent;
        padding-left: 0.5em;
        padding-right: 0.7em;
        padding-bottom: 0.3em;
        min-width: 9em;

        &:focus {
            outline: none;
        }
    }

    .search-btn {
        height: 3em;
        background-color: white;
        border-radius: $btn-border-radius;
        border: 0.1em solid #555;
        color: #303030;
        padding: 0 1.25em;
        opacity: 0.6;
        cursor: pointer;
        transition: opacity 0.2s;
        font-weight: bold;

        &:hover {
            opacity: 1;
        }

        span {
            font-size: 1.5em;
            display: none;
        }

        i.search-icon {
            font-size: 1.35em;
        }
    }

    .img-uploader {
        display: none;
    }

    .extra-link-wrapper {
        margin-top: 1em;
        font-size: 0.9em;
        .extra-link-item {
            position: relative;

            .extra-link {
                padding-left: 2em;
                color: $font-color-4;
                text-decoration: underline;

                &:hover {
                    color: $font-color-3;
                }

                &:before {
                    position: absolute;
                    left: 0;
                    top: 0.2em;
                }

                &.WOTD-link:before {
                    @include fa-star();
                    color: $color-yellow;
                }

                &.random-word-link:before {
                    @include fa-random();
                    color: $color-soft-violet;
                }
            }
        }
    }
}

.result-panel {

    .empty-result.hidden {
        display: none;
    }

    .word-list, .word-item {
        padding: 1em 0;
    }

    .word-wrapper {
        background-color: $bg-color-5;
        border-radius: $panel-border-radius;

        .definition-wrapper, .audio-wrapper, .example-wrapper, .phrase-wrapper {
            &.hidden {
                display: none !important;
            }
        }

        .word-header {
            padding: 0.5em 0.8em;
            display: flex;
            align-items: flex-end;
            font-size: 1.2em;
            border-bottom: 0.1em solid rgba(black, 0.3);

            .header-text {
                margin: 0;
                text-transform: capitalize;
            }

            .audio-wrapper {
                display: inline-block;
                margin-bottom: 0.3em;
                margin-left: 0.5em;
                color: $font-color-5;
                cursor: pointer;

                &.no-audio {
                    display: none;
                }

                &:after {
                    @include fa-volume-up();
                }

                &.speaking {
                    color: $font-color-3;

                    &:after {
                        animation: speaking 1s linear infinite;
                    }
                }
            }
        }

        .word-content {
            padding-top: 1em;

            h4 {
                margin: 0.5em 0;
            }

            p {
                margin-top: 0.2em;
                margin-bottom: 0;
            }

            .definition-wrapper {
                .definition-header {
                    padding: 0 1em;
                }

                .word-definition-list {
                    padding: 0 1em;
                    max-height: 10em;
                    overflow-y: auto;

                    li:first-child {

                        h5 {
                            margin-top: 0.5em;
                        }
                    }

                    h5 {
                        margin-top: 1em;
                        margin-bottom: 0;
                    }

                    p {
                        text-align: justify;
                    }

                }
            }

            .example-wrapper {
                padding-left: 1em;

                &.opened {

                    .example-header:after {
                        @include fa-caret-up();
                    }

                    .word-example-list {
                        max-height: 10em;

                        p {
                            text-align: justify;
                        }
                    }
                }

                .example-header {
                    cursor: pointer;

                    &:after {
                        margin-left: 0.5em;
                        @include fa-caret-down();
                    }
                }

                .word-example-list {
                    padding: 0 1em;
                    max-height: 0;
                    overflow-y: auto;
                    transition: max-height 0.3s;

                    p {
                        padding-bottom: 0.5em
                    }
                }
            }

            .phrase-wrapper {
                padding: 0 1em;

                .word-phrase-list {
                    display: flex;
                    align-items: center;
                    overflow-x: auto;
                    padding-bottom: 1em; // make space for scrollbar

                    .word-phrase-item {

                        &:not(:last-child) {
                            margin-right: 1em;
                        }

                        .word-phrase {
                            white-space: nowrap;
                            height: 3em;
                            border-radius: $btn-border-radius;
                            padding: 0 1em;
                            border-style: none;
                            background-color: $bg-color-6;
                        }
                    }
                }
            }
        }
    }
}

.result-wrapper.show-nav-btn {

    .word-list {
        padding-right: 1.5em;
    }

    .nav-btn-wrapper {
        display: flex;
    }
}

.nav-btn-wrapper {
    position: fixed;
    bottom: 4em;
    right: 1em;
    display: none;
    flex-direction: column;

    .nav-position {
        margin: 0.5em 0;
        height: 2em;
        width: 2em;
        background-color: $bg-color-2;
        box-shadow: 0 0.2em 0.3em $bg-color-3;
        color: $font-color-2;
        font-size: 1.25em;
        text-align: center;
        vertical-align: middle;
        line-height: 2em;
    }

    .nav-btn {
        @include round(1em);
        border-style: none;
        background-color: $bg-color-2;
        box-shadow: 0 0.2em 0.3em $bg-color-3;
        color: $font-color-2;
        font-size: 1.25em;

        &.go-to-prev {

            &:before {
                @include fa-angle-up();
            }
        }

        &.go-to-next {

            &:before {
                @include fa-angle-down();
            }
        }

        &.go-to-top {
            margin-top: 2em;

            &:before {
                @include fa-angle-double-up();
            }
        }
    }
}

.prediction-panel {
    background-color: rgba($bg-color-3, 0.5) !important;
    position: fixed;
    top: $header-height;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    padding: 2em;
    overflow-y: auto;

    &.show {
        display: block;
    }

    &.stick {
        // got the cubic bezier coordinates using chrome dev tool
        animation: stick-to-top 0.7s cubic-bezier(0.5,-0.6, 0.9,-0.05) 0.3s 1 normal forwards;
        transition: padding 0.7s cubic-bezier(0.1, 0.9, 0.2, 0.8) 0.3s, background-color 0.3s;
        padding: 0;
        bottom: auto;
        overflow-y: visible;
        background-color: transparent !important;

        .prediction-wrapper {
            transition: border-radius 0.3s step-end;
            border-radius: 0;
        }
    }
}

.prediction-wrapper {
    background-color: white;
    border-radius: $panel-border-radius;
    overflow: hidden;
    box-shadow: 0 0.3em 0.5em $bg-color-3;

    .image-wrapper {
        background-color: black;
        position: relative;
        width: 100%;
        max-height: 100em; // just for animation, not for limiting image size
        opacity: 1;

        &:before { // pseudo element to retain the aspect ratio
            display: block;
            content: "";
            width: 100%;
            padding-top: 100%;
        }

        &.hidden {
            transition: max-height 0.3s, opacity 0.3s; // only enable transition when hiding
            max-height: 0;
            pointer-events: none;
            opacity: 0;
        }

        > .image-container { // image container to control the size of the image
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .thumbnail {
                display: block;

                &.fit-height {
                    height: 100%;
                }

                &.fit-width {
                    width: 100%;
                }
            }
        }

        .preloader-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(#000, 0.5);
            display: none;
            justify-content: center;
            align-items: center;
            font-size: 1.5em;
            color: $font-color-1;

            &.show {
                display: flex;

                &:before {
                    content: attr(data-text);
                }

                &:after { // add dot animation behind the word predicting
                    content: "";
                    animation: dot-dot 1.5s ease-in-out infinite;
                }
            }
        }
    }

    .predicted-word-wrapper {

        &.collapsible {

            .list-header {
                &:after {
                    @include fa-caret-up();
                    padding-left: 0.5em;
                }
            }

            &.collapsed {

                .list-header {
                    &:after {
                        @include fa-caret-down();
                    }
                }

                .predicted-word-list-wrapper {
                    max-height: 0;
                }
            }
        }

        .list-header {
            color: $font-color-2;
            border-bottom: 0.1em solid rgba(black, 0.2);
            padding: 0 1em;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .predicted-word-list-wrapper {
            max-height: 14em;
            transition: max-height 0.3s;
            overflow-y: auto;

            &:after { // this is just a hack to prevent scrollbar going to far down to the round corner
                content: '';
                display: block;
                height: 1em;
            }
        }

        .predicted-word-list {
            padding: 1em;
            padding-bottom: 0em;

            .predicted-word {
                color: $font-color-2;
                display: block;
                width: 100%;
                background-color: transparent;
                border-style: none;
                border-bottom: 0.1em solid rgba(black, 0.2);
                height: 3em;
                text-align: left;
                font-weight: bold;
                text-transform: capitalize;
            }
        }
    }
}

@mixin word--md() {
    .search-panel {

        label {

            &.search-icon-container {
                display: inline-block;
            }
        }

        .search-btn {

            span {
                display: inline;
            }

            i.search-icon {
                display: none;
            }
        }
    }
}

@mixin word--lg() {
}
