@keyframes back-and-forth {
    0%   {transform: translateX(0%);}
    50%  {transform: translateX(-40%);}
    100% {transform: translateX(0%);}
}

@keyframes dot-dot {
    0%      { content: ""; }
    25%     { content: "."; }
    50%     { content: ".."; }
    75%     { content: "..."; }
    100%    { content: ""; }
}

@keyframes speaking {
    0%      { @include fa-volume-off; }
    33.33%     { @include fa-volume-down; }
    66.67%     { @include fa-volume-up; }
    100%    { @include fa-volume-off; }
}

@keyframes stick-to-top {
    0% {
        position: fixed;
        right: 1.5em;
        left: 1.5em;
    }
    100%    {
        position: fixed;
        right: 0;
        left: 0;
    }
}
