.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.v-align-middle {
    vertical-align: middle;
}

.clear-both {
    clear: both;
}

.no-scroll-y {
    overflow-y: hidden;
}
