@charset "UTF-8";
@keyframes back-and-forth { 0% { transform: translateX(0%); }
  50% { transform: translateX(-40%); }
  100% { transform: translateX(0%); } }

* { box-sizing: border-box; }

body { margin: 0; min-width: 18em; font-family: sans-serif; }

main { margin-top: 3.75em; }

a { display: inline-block; text-decoration: none; }

ul { margin: 0; padding: 0; list-style: none; }

h1 { font-size: 1.75em; }

button { cursor: pointer; }

.text-left { text-align: left; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.text-justify { text-align: justify; }

.v-align-middle { vertical-align: middle; }

.clear-both { clear: both; }

.no-scroll-y { overflow-y: hidden; }

header { position: fixed; top: 0; height: 3.75em; width: 100%; background-color: #00396C; z-index: 1000; }

.brand { position: absolute; left: 0; top: 0; bottom: 0; }

.brand .brand-link { height: 100%; padding: 0.875em 0 0.875em 1.25em; }

.brand .brand-link .brand-icon { height: 100%; display: inline-block; vertical-align: middle; }

.brand .brand-link .brand-name { margin-left: 0.5em; color: #AAD7FF; vertical-align: middle; font-size: 1.4em; }

nav { position: absolute; right: 0; bottom: 0; top: 0; display: flex; align-items: flex-end; justify-content: flex-end; }

.menu-btn { align-self: center; background: none; border: 0; color: #AAD7FF; font-size: 1.2em; padding: 0.5em; margin: 0 0.5em; outline: 0; }

.menu-btn .menu-icon, .menu-btn .close-icon { transition: transform 0.3s, opacity 0.2s; }

.menu-btn .menu-icon { opacity: 1; transform: rotateZ(0); }

.menu-btn .close-icon { opacity: 0; position: absolute; right: 1em; transform: rotateZ(-45deg); }

.menu-btn.active .menu-icon { opacity: 0; transform: rotateZ(45deg); }

.menu-btn.active .close-icon { opacity: 1; transform: rotateZ(0deg); }

.nav-list { font-family: monospace; position: fixed; top: 4.6em; bottom: 0; overflow-y: auto; overflow-x: hidden; width: 100vw; background-color: #89D0FF; transition: transform 0.5s; transform: translate(0, 100%); }

.nav-list .nav-link, .nav-list .dropdown-link { color: #292929; }

.menu-btn.active ~ .nav-list { transform: none; }

.nav-item:not(:first-child) .nav-link { border-top: 0.1em solid #292929; }

.nav-item .nav-link { display: block; font-size: 1.25em; padding: 0.8em 1.6em; }

.nav-item .nav-link.ongoing-page:before { font-family: FontAwesome; content: ""; color: #D68802; left: 0.3em; position: absolute; }

.nav-item .nav-link .arrow-icon { display: none; }

.nav-item .dropdown .dropdown-link { font-size: 1.1em; display: block; padding: 0.8em 1.8em; }

footer { height: 2em; line-height: 2em; bottom: 0; left: 0; right: 0; background-color: #5F5F5F; color: white; }

footer .rj-copyright { padding-left: 1em; vertical-align: middle; font-size: 0.8em; }

.section-panel { margin: 0; padding-left: 1em; padding-right: 1em; font-family: calibri; }

.section-panel .section-content > * { padding-bottom: 1.5em; }

.section-panel .medium-content-wrapper { max-width: 47.5em; margin: auto; }

section:nth-child(odd) .section-panel { background-color: #353537; color: #FFFFFF; }

section:nth-child(even) .section-panel { background-color: #F7F7F7; color: #0E0E0F; }

section .section-head { text-align: center; padding: 1em 0 0.25em 0; }

section .section-head > h1 { margin: 0; }

.small-btn { padding: 5px; }

.small-btn:hover { background-color: white; color: black; }

button.ec-button { height: 3em; padding: 0 1.125em; border-radius: 0.25em; border-style: solid; background-color: transparent; transition: color 0.5s, border-color 0.5s; }

button.ec-button.ec-dark-blue { color: #000c7c; border-color: #000c7c; }

button.ec-button.ec-dark-blue:hover { color: #b35700; border-color: #b35700; }

button.ec-button.ec-blue { color: #22a7f0; border-color: #22a7f0; }

button.ec-button.ec-blue:hover { color: #ff8c00; border-color: #ff8c00; }

button.ec-button.ec-green { color: #00ff00; border-color: #00ff00; }

button.ec-button.ec-green:hover { color: #ff8c00; border-color: #ff8c00; }

.page-overlay { z-index: -1; position: fixed; top: 0; bottom: 0; left: 0; right: 0; opacity: 0; background-color: rgba(0, 0, 0, 0.5); transition: opacity 0.5s, z-index 0.5s; }

.page-overlay.show { z-index: 500; opacity: 1; }

.hero-image-wrapper { background-color: #3B598C; padding-bottom: 3em; margin: 0; padding-left: 1em; padding-right: 1em; color: white; }

.hero-image-wrapper .hero-image-content { max-width: 47.5em; margin: auto; }

.hero-image-wrapper .hero-image-content .tag-line { padding: 3em 0 2em 0; }

.hero-image-wrapper .hero-image-content .tag-line > h1 { margin: 0; }

.hero-image-wrapper .hero-image-content .intro-text { padding-bottom: 3em; }

.search-panel { min-height: calc(100vh - 3.75em); }

.search-panel .section-head { padding-top: 2em; padding-bottom: 1em; }

.search-panel .intro-text, .search-panel .separator { padding-top: 0.8em; }

.search-panel .intro-text { padding-bottom: 0.8em; margin: 0; }

.search-panel .input-wrapper { display: flex; align-items: center; border-radius: 0.25em; padding: 0.3em; }

.search-panel .input-wrapper.searchbar-wrapper, .search-panel .input-wrapper.img-uploader-wrapper { background-color: #F4F4F4; transition: background-color 0.1s; }

.search-panel .input-wrapper.searchbar-wrapper.active { background-color: white; }

.search-panel .input-wrapper.searchbar-wrapper label { color: #777; flex: 0; }

.search-panel .input-wrapper.searchbar-wrapper .searchbar { flex: 1; align-self: flex-end; }

.search-panel .input-wrapper.searchbar-wrapper .search-btn { flex: 0; }

.search-panel .input-wrapper.img-uploader-wrapper label { border: 0.15em dashed #555; border-radius: 0.25em; color: #555; opacity: 0.6; transition: opacity 0.1s; }

.search-panel .input-wrapper.img-uploader-wrapper:hover { background-color: white; }

.search-panel .input-wrapper.img-uploader-wrapper:hover label { opacity: 1; }

.search-panel label.search-icon-container { display: none; }

.search-panel label.image-uploader-label { width: 100%; height: 4em; line-height: 4em; }

.search-panel label.image-uploader-label i { padding-left: 0; }

.search-panel label.image-uploader-label > span { padding-left: 0.5em; font-size: 1.25em; }

.search-panel label.image-uploader-label .drop-img-text { display: none; }

.search-panel label i { padding-left: 0.7em; font-size: 1.75em; }

.search-panel .searchbar { font-size: 1.25em; border: none; background-color: transparent; padding-left: 0.5em; padding-right: 0.7em; padding-bottom: 0.3em; min-width: 9em; }

.search-panel .searchbar:focus { outline: none; }

.search-panel .search-btn { height: 3em; background-color: white; border-radius: 0.25em; border: 0.1em solid #555; color: #303030; padding: 0 1.25em; opacity: 0.6; cursor: pointer; transition: opacity 0.2s; font-weight: bold; }

.search-panel .search-btn:hover { opacity: 1; }

.search-panel .search-btn span { font-size: 1.5em; display: none; }

.search-panel .search-btn i.search-icon { font-size: 1.35em; }

.search-panel .img-uploader { display: none; }

.profile-picture { width: 100%; border-radius: 0.5em; }

.contact-detail { margin-top: 1em; margin-bottom: 2em; }

@media only screen and (min-width: 30em) { .profile-picture { float: left; width: 50%; margin-right: 1em; } }

@media only screen and (min-width: 50em) { .menu-btn { display: none; }
  .nav-list { top: auto; bottom: auto; width: auto; background-color: transparent; transform: none; position: static; overflow: visible; }
  .nav-list .nav-link { color: #AAD7FF; }
  .nav-item { position: relative; display: inline-block; padding-left: 0; }
  .nav-item .nav-link { border: none !important; transition: color 0.2s; padding-bottom: 1em; }
  .nav-item .nav-link .arrow-icon.arrow-down { display: inline-block; }
  .nav-item.has-dropdown:hover .nav-link .arrow-icon.arrow-down { display: none; }
  .nav-item.has-dropdown:hover .nav-link .arrow-icon.arrow-up { display: inline-block; }
  .nav-item.has-dropdown:hover .dropdown { pointer-events: auto; top: 3.85em; opacity: 1; }
  .nav-item:hover .nav-link:not(.ongoing-page):after { font-family: FontAwesome; content: ""; position: absolute; left: 0.3em; color: #D68802; animation-name: back-and-forth; animation-duration: 0.6s; animation-timing-function: ease-in-out; animation-iteration-count: infinite; }
  .nav-item .dropdown .dropdown-item:not(:last-child) { border-bottom: 0.1em solid #292929; }
  .nav-item .dropdown .dropdown-link { padding: 1em !important; }
  .dropdown { pointer-events: none; display: block; position: absolute; top: 3.25em; right: 50%; transform: translateX(50%); background-color: #89D0FF; opacity: 0; transition: opacity 0.3s, top 0.3s; }
  .dropdown .dropdown-list { display: flex; justify-content: center; flex-direction: column; white-space: nowrap; }
  .dropdown .dropdown-link { color: #292929; }
  .dropdown .dropdown-item:hover { background-color: rgba(255, 255, 255, 0.4); }
  .profile-picture { width: 25%; } }

/*# sourceMappingURL=main.compact.css.map */