.ec-button {
    font-family: Arial;
    line-height: 3.5em;
    height: 3.5em;
    padding: 0 1.5em;
    border-radius: $btn-border-radius;
    border-style: solid;
    background-color: transparent;
    transition: color 0.5s, border-color 0.5s;
    font-size: 0.85em;

    &.ec-dark-blue {
        @include ec-button-color(#000c7c);

        &:hover {
            @include ec-button-color(#b35700);
        }
    }

    &.ec-blue {
        @include ec-button-color(#22a7f0);

        &:hover {
            @include ec-button-color(#ff8c00);
        }
    }

    &.ec-green {
        @include ec-button-color(#00ff00);

        &:hover {
            @include ec-button-color(#ff8c00);
        }
    }
}
