footer {
    flex: 0;
    height: $footer-height;
    line-height: $footer-height;
    background-color: #5F5F5F;
    color: white;

    .rj-copyright {
        padding-left: 1em;
        vertical-align: middle;
        font-size: 0.8em;
    }
}
