nav {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.menu-btn {
    align-self: center;
    background: none;
    border: 0;
    color: $font-color-1;
    font-size: 1.2em;
    padding: 0.5em;
    margin: 0 0.5em;
    outline: 0;

    .menu-icon, .close-icon { // menu button transformation animation
        transition: transform 0.3s, opacity 0.2s;
    }

    .menu-icon { // menu icon start from visible and without rotation
        opacity: 1;
        transform: rotateZ(0);
    }

    .close-icon { // close icon start from invisible and rotated 45 deg counter clockwise
        opacity: 0;
        position: absolute;
        right: 1em;
        transform: rotateZ(-45deg);
    }

    &.active {
        .menu-icon { // menu icon is invisible and rotated 45 deg clockwise, at the end
            opacity: 0;
            transform: rotateZ(45deg);
        }

        .close-icon { // close icon is visible and without rotation, at the end
            opacity: 1;
            transform: rotateZ(0deg);
        }
    }
}


.nav-list {
    font-family: monospace;
    position: fixed;
    top: 4.6em;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100vw;
    background-color: $bg-color-2;
    transition: transform 0.5s;
    transform: translate(0, 100%);

    .nav-link, .dropdown-link {
        color: $font-color-2;
    }

}

.menu-btn.active ~ .nav-list {
    transform: none;
}

.nav-item {
    &:not(:first-child) {
        .nav-link {
            border-top: 0.1em solid $font-color-2;
        }
    }

    .nav-link {
        display: block;
        font-size: 1.25em;
        padding: 0.8em 1.6em;

        &.ongoing-page:before { // show child icon on left of the nav link of the ongoing page
            @include fa-child();
            color: $font-color-3;
            left: 0.3em;
            position: absolute;
        }
    }

    .dropdown {
        .dropdown-link {
            font-size: 1.1em;
            display: block;
            padding: 0.8em 1.8em;
        }
    }
}

@mixin nav--md {

}

@mixin nav--lg {
    .menu-btn {
        display: none;
    }

    .nav-list {
        top: auto; // reset bottom property
        bottom: auto; // reset bottom property
        width: auto; // follow its content width
        background-color: transparent;
        transform: none;
        position: static;
        overflow: visible;

        .nav-link {
            color: $font-color-1;
        }
    }

    .nav-item {
        position: relative;
        display: inline-block;
        padding-left: 0;

        .nav-link {
            border: none !important;
            transition: color 0.2s;
            padding-bottom: 1em;
        }

        &.has-dropdown {

            .nav-link:after { // add arrow down for nav link which has a dropdown
                @include fa-caret-down();
            }

            &:hover {

                .nav-link:after { // change the arrow to arrow up when the nav link is hovered
                    @include fa-caret-up();
                }

                .dropdown {
                    pointer-events: auto;
                    top: $header-height + 0.1em;
                    opacity: 1;
                }
            }

        }

        &:hover {

            .nav-link:not(.ongoing-page):before { // add moving arrow on hover for nav link other than current page nav link
                @include fa-arrow-right();
                position: absolute;
                left: 0.3em;
                color: $font-color-3;

                // make the arrow move back and forth
                animation-name: back-and-forth;
                animation-duration: 0.6s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
            }

        }

        .dropdown {

            .dropdown-item:not(:last-child) {

                border-bottom: 0.1em solid $font-color-2;
            }

            .dropdown-link {
                padding: 1em !important;
            }
        }
    }

    .dropdown {
        pointer-events: none;
        display: block;
        position: absolute;
        top: $header-height - 0.5em;

        // make the dropdown align right with the center of the nav item
        right: 50%;
        // translate the dropdown 50% of its own wide so its center aligned with the center of the nav item
        transform: translateX(50%);
        background-color: $bg-color-2;
        opacity: 0;
        transition: opacity 0.3s, top 0.3s;

        .dropdown-list {
            display: flex;
            justify-content: center;
            flex-direction: column;
            white-space: nowrap;
        }

        .dropdown-link {
            color: $font-color-2;
        }

        .dropdown-item {

            &:hover {
                background-color: rgba(white, 0.4);
            }

        }
    }
}
